<!DOCTYPE html> <!-- declaramos el documento como html5 --> 
<html lang="es"> <!-- Informacion para los navegadores --> 
	<head>  <!-- datos para el navegador, hojas de estilos, o scripts --> 
		<meta charset= 'UTF-8'> <!-- metadatos= info para el navegaro cuando renderisa, hay muchos, ver cuales hay. el UTF-8 es para ascii con acentos --> 
		<link rel="stylesheet" href="stylesheet.css"> <!-- linkeamos la hoja de datos css --> 
	</head>

	<body> <!-- Toda la info que esta en la pagina --> 
		<div id="contenido"> <!-- div principal que teiene todo, se puede poner o no --> 
			<header> <!-- indica el encabezado de la pagina --> 
				<hgroup> <!-- Para que el navegador sepa que este es un titulo y nos pueda encontrar mas facilmente sin confundirse --> 
					<h1>PROBANDO HTML5</h1>
				</hgroup>
				<div id="lista">
					<nav> <!-- Para que puedan ingresar a alguna pagina en especifico desde el navegador --> 
						<ul> <!-- lista desordenada, esta lista va dentro de el header --> 
							<li>Inicio</li>
							<li>Sobre mi</li>
							<li>Videos de gatitos</li>
							<li>Contacto</li>
						</ul>	
					</nav>
				</div>
			</header>
			<section> <!-- para seo, adentro de eso los div que queramos --> 
				<div id="textoprincipal">
					<hgroup>
						<h1> estas son mis habilidades </h1>
					</hgroup>
					<p>Office 	<meter min="0" max="100" value= "90">90%</meter></p>
					<p>Redes 	<meter min="0" max="100" value= "45">45%</meter></p>
					<p>Software <meter min="0" max="100" value= "95">95%</meter></p>
					<p>Hardware <meter min="0" max="100" value= "45">45%</meter></p>
					<p>Python 	<meter min="0" max="100" value= "30">30%</meter></p>
					<p>HTML5	<meter min="0" max="100" value= "30">30%</meter></p>
					<p>Archivar <meter min="0" max="100" value= "90">30%</meter></p>
					<p>Trabajo en equipo <meter min="0" max="100" value= "95">95%</meter></p>
					<p>Comunicacion		 <meter min="0" max="100" value= "90">90%</meter></p>
				</div>
			</section>
		</div>

		<footer>
			<canvas id='canvas'>
				
			</canvas>
		</footer>
	</body>
<html>